<div class="demo-wrap">
  <ul class="list-ul" style="margin: 0; padding: 0;">
    <li *ngFor="let item of components" (click)="initCurrentComponent(item)" [title]="item.name" [routerLinkActive]="'active'" [routerLink]="[item.route]">
      {{item.name}}
    </li>
  </ul>
  <div class="list-detail">
<!--    <div class="list-detail-title">
      <span>
        {{currentComponent?.name}}
      </span>
    </div>-->
    <div class="list-detail-content">
      <ng-template #demoContainer ></ng-template>
      <!--<router-outlet></router-outlet>-->
    </div>
  </div>
</div>
